---
import Layout from '~/layouts/layout.astro'
import { getCollection } from 'astro:content'
import Post from '~/components/post'

const posts = await getCollection('blog')
---

<Layout>
  <section class="posts">
    {posts.map((post) => <Post post={post} />)}
  </section>
</Layout>

<style lang="scss">
  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
</style>
