---
import Layout from '~/layouts/layout.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<Layout>
  <section>
    {
      posts.map((post) => {
        const url = [
          post.data.date.getFullYear(),
          post.data.date.getMonth() + 1,
          post.slug,
        ].join('/')

        return (
          <article>
            <h3>
              <a href={`/blog/${url}`}>{post.data.title}</a>
            </h3>
          </article>
        )
      })
    }
  </section>
</Layout>
