---
import type { CollectionEntry } from 'astro:content'
import Layout from '~/layouts/layout.astro'
import Post from '~/components/post'

export interface Props {
  title?: string
  posts: CollectionEntry<'blog'>[]
}

const { title, posts } = Astro.props
---

<Layout title={title!}>
  <section class="posts">
    {title && <h1 class="title">{title}</h1>}
    {
      posts.filter((post) => !post.data.draft).length > 0 ? (
        posts
          .filter((post) => !post.data.draft)
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((post) => <Post post={post} />)
      ) : (
        <article>
          <p>Belum ada konten.</p>
        </article>
      )
    }
  </section>
</Layout>

<style lang="scss">
  @use '../styles/heading';

  .title {
    font-weight: 700;
    @extend %heading;
  }

  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  @media (min-width: 576px) {
    .title {
      font-size: 3.5rem;
    }
  }
</style>
