---
import Layout from './layout.astro'
import { parser } from '~/lib/marked'

interface Props {
  title?: string
  description?: string
  lang?: string
}

const { title, description, lang } = Astro.props
---

<Layout title={title!} description={description!}>
  <!-- Head -->
  <Fragment>
    <slot name="head" />
  </Fragment>
  <article lang={lang || 'id'}>
    <!-- Heading -->
    <Fragment>
      {title && <h1 class="title">{title}</h1>}
      {
        description && (
          <p class="description">
            <Fragment set:html={parser(description)} />
          </p>
        )
      }
      <slot name="heading" />
      {title && <hr />}
    </Fragment>

    <!-- Content -->
    <slot />
  </article>
</Layout>

<style lang="scss">
  .title {
    --font-weight: 900;

    background: linear-gradient(
      -30deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .description {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 2.625rem;
  }

  @media (min-width: 576px) {
    .title {
      --font-size: 3.5rem;
    }
  }
</style>
